<h1>Places</h1>

<p>
</p>

<ul>
  <% for place in @places %>
    <div class="list-group">
      <a href="/places/<%= place["id"] %>" class="list-group-item list-group-item-action"><%= place["name"] %></a>
    </div>
  <% end %>
</ul>

<p>
  <a class= "btn my-3 btn-primary btn-lg" href="/places/new">New Place</a>
</p>

